# Sample configuration file for the Arachni Introspector executables.
#
# This example assumes a Rails application.

# Import the web application environment.
require '/path/to/app/config/environment'

# You can prepare your application if need be.
Rails.application.special_configuration

# Set options.
Arachni::Introspector::Configuration.options = {
    # Rack application (Rails, Sinatra, whatever) to scan.
    application: Rails.application,

    # Specify coverage options...
    #
    # (You can disable coverage tracking by not using this option.)
    coverage:    {

        # ...and set the scope...
        scope: {

            # ... via a rule.
            #
            # Better to only keep track of application code and exclude library
            # calls to keep the instrumentation and coverage entries short and
            # sweet and to the point.
            path_start_with: My::App.root_path
        }
    },

    # Specify Framework (scanner) options...
    # (see http://www.rubydoc.info/github/Arachni/arachni/Arachni/Options#update-instance_method)
    framework: {

        # ...about which web application elements to audit.
        audit: {
            elements: [ :links, :forms, :cookies, :headers, :xmls, :jsons ]
        },

        # ...about what types of issues to look for.
        checks: ['xss*'],

        # ...about what platforms are in use.
        #
        # In this case only the DB is necessary; the OS etc. will be figured
        # out automatically.
        platforms: [:sqlite3],

        # ...about the browser environment.
        browser_cluster: {
            # Default is 6 but let's give it some more power.
            pool_size: 10
        }
    }
}
